<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>683E010B1C7E589A00F7FA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683E01241C7E589A00F7FA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683E012F1C7E589A00F7FA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
